.fab {
  position: absolute;
  bottom: 16px;
  right: 16px;
  height: 56px;
  width: 56px;
  padding: 16px;
  border-radius: 255px 25px 225px 25px/25px 225px 25px 255px;
  background-color: var(--primary);
  color: var(--white);
  cursor: pointer;
}

.fab:hover {
  background-color: var(--secondary);
}
